.episode {
  padding-top: 5.5rem;
}

.episode .navigation-list-episode a {
  color: #000 !important;
  font-size: 0.9rem;
}

.episode .navigation-list-episode {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 31px;
}

.list-episode {
  padding: 0 35px;
}
