.detail-movie {
  color: #fff;
  padding: 5rem 32px;
  background-size: cover;
  background-position: center;
  background: url("../assets/background/services_bg.jpg");
}

.detail-movie a.nav-link {
  padding: 0;
}

.director p,
.producer p {
  margin-bottom: 0;
}

.additional-info {
  font-size: 0.8rem;
}

.additional-info i {
  color: var(--yellow);
}

.detail-movie .poster {
  height: 450px;
}

.poster img {
  border-radius: 5px;
}

.detail-movie .navigation a {
  text-decoration: underline !important;
}
