.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgb(18, 21, 30);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.blocks-wrapper {
  transform: translateY(-80px);
}
