.card {
  --bs-card-bg: transparent !important;
  --bs-card-border-color: none !important;
  color: #fff !important;
  position: relative;
  animation: showUp 1s ease-in;
}

.card .card-title {
  font-size: 1rem;
}

.card img:hover {
  cursor: pointer;
}

.card .card-title .release-year,
.card i {
  color: var(--yellow);
}

.card span {
  font-size: 0.8rem;
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
